* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #236747;
}

#form {
  background-color: white;
  width: 360px;
  height: 680px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;
}

#form label {
  font-size: 0.875rem;
}

input {
  display: block;
  margin: 5px auto 16px auto;
  aspect-ratio: 15/2;
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-weight: 500;
}

#subtitle {
  text-align: center;
  margin: 24px auto;
  font-size: 1.25rem;
}

#signup-button {
  width: 240px;
  background-color: #fa7f37;
  color: white;
  border: 0 solid;
  border-radius: 5px;
  height: 32px;
  display: block;
  margin: 20px auto;
}

a {
  color: #fa7f37;
  text-decoration: none;
}

#login {
  color: white;
  text-align: center;
  margin: 16px;
  font-size: 1.125rem;
}

#conditions {
  font-size: 0.875rem;
  margin: 24px 0;
  text-align: center;
}
